*.log
build/
.clangd/
.cache/
.vscode/
.idea/
cmake-build-debug/
cmake-build-release/

compile_commands.json
test/python/__pycache__/
test/python/mnist_exact_model/
test/python/*.mlir
test/python/*.mlirbc
test/python/*.png
test/python/*/
test/llm/*.mlir
