[submodule "external-dialects/stablehlo"]
	path = external-dialects/stablehlo
	url = https://github.com/openxla/stablehlo
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:llvm/llvm-project.git
