[submodule "external-dialects/stablehlo"]
	path = external-dialects/stablehlo
	url = https://github.com/openxla/stablehlo
[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:llvm/llvm-project.git
[submodule "test/hpac_offload_artifact"]
	path = test/hpac_offload_artifact
	url = git@github.com:ZwFink/hpac_offload_artifact.git
